<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>  
    {% include 'bootstrap.html' %}
  </head>
  <body>

    <div class="container">

      <p>The job role of <b>{{data['title']}}</b> has been created!</p>
      
      <b>Title</b>
      <div class="mb-2">{{data['title']}}</div>
  
      <b>Location</b>
      <div class="mb-2">{{data['location']}}</div>
  
      <b>Salary</b>
      <div class="mb-2">{{data['salary']}}</div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
