<!DOCTYPE html>
<html>
  
  <body>
    <div style=display: flex; flex-wrap: wrap>
      
    <div style="display: flex; justify-content: space-between;">
        <div style="flex: 1; border: 1px solid #ccc; padding: 10px; margin: 10px;">
            {% include 'create_form.html' %}
        </div>
        <div style="flex: 1; border: 1px solid #ccc; padding: 10px; margin: 10px;">
            {% include 'update_form.html' %}
        </div>
        <div style="flex: 1; border: 1px solid #ccc; padding: 10px; margin: 10px;">
            {% include 'search_form.html' %}
        </div>
        <div style="flex: 1; border: 1px solid #ccc; padding: 10px; margin: 10px;">
            {% include 'delete_form.html' %}
        </div>
    </div>
      
    <h3 class="mb-2" style=color:red;>{{message}}</h3>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
