<h4>Update Jobs Form</h4>
<form action="/update" method="POST">
  <div class="mb-2">
  <label>ID</label><br>
  <input type="number" required name="id">
  </div>
  
  <div class="mb-2">
  <label>Title</label><br>
  <input type="text" required name="title" placeholder="Scientist">
  </div>

  <div class="mb-2">
  <label>Location</label><br>
  <input type="text" required name="location" placeholder="Singapore">
  </div>

  <div class="mb-2">
  <label>Currency</label><br>
  <input type="text" required name="currency" placeholder="EUR">
  </div>

  <div class="mb-2">
   <label>Salary</label><br>
  <input type="number" required name="salary" placeholder="2000">
  </div>

  <input type="submit">
</form>